.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__h1 {
    font-size: 4rem;
    margin-top: 10rem;
  }
  &__h2 {
    font-size: 2.5rem;
  }
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 1rem;
  @media (max-width: 750px) {
    width: 500px;
  }
  @media (max-width: 550px) {
    width: 400px;
  }
}

.cartItem img {
  width: 200px;
  margin-left: 2rem;
  margin-right: 2rem;
  @media (max-width: 550px) {
    width: 150px;
    height: 150px;
  }
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
  @media (max-width: 550px) {
    width: 50%;
    font-size: 22px;
  }
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.countHandler {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
